@import "https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  background-color: rgb(235 235 235);
}

a {
  color: #fff;
  text-decoration: none;
}

ol {
  display: flex;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-inline: 0.5rem;
  border: 2px solid transparent;
}

li:hover {
  color: rgb(255 111 0);
  cursor: pointer;
}

hr {
  max-width: 1200px;
  margin-top: 50px;
  border: 1px solid #aeaeae;

  // animation-name: hr-op;
  // animation-timeline: view();
}

.intro {
  margin-top: 80px;
  font-size: 46px;
  color: #fff;
}

.head-section {
  background-color: black;
}

.title {
  padding: 0;
  font-size: 80px;
  font-weight: 500;
  text-align: left;

  &:hover {
    color: rgb(255 111 0);
    cursor: pointer;
  }
}

.navigation-bar {
  position: sticky;
  top: 2rem;
  z-index: 2;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  line-height: 180%;
}

.section {
  max-width: 1200px;
  padding-inline: auto;
  margin-inline: 11.25rem;
}

.container {
  max-width: 1200px;
  padding-inline: auto;
  margin-inline: auto;
}

.pro-img-grid > div {
  max-width: 800px;
  margin-block: 80px;
  transition: ease 2s;

  &:hover {
    max-width: 1200px;
  }
}

.camera {
  display: flex;
  max-height: 600px;
  padding-right: 20px;
  overflow: hidden;
  text-align: right;
  background-color: rgb(220 220 220);
  border-radius: 8px;
  transition: 1s;
}

.ca-te {
  float: right;
  padding-left: 30px;
  font-size: 18px;
  color: black;

  // text-align: right;
}

.summer {
  display: flex;
  justify-content: space-between;
  max-height: 600px;
  padding-inline: auto 0;
  overflow: hidden;
  text-align: right;
  background-color: rgb(220 220 220);
  border-radius: 8px;
}

.su-te {
  float: right;
  padding-inline: 30px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.scroll-down {
  margin: 0;
  font-size: 100px;
}

.p-title {
  font-size: 24px;
  font-weight: 700;
}

// .pro-img-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, 16.3125rem);
//   grid-row: 1 / -1;
//   grid-column: 2 / -1;
//   gap: 2rem 2rem;
//   margin-top: 4rem;
//   margin-left: 4rem;
// }

.pro-img {
  max-width: 800px;
}

.pro-img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s;
  transform: scale(102%);
}

.footer {
  text-align: right;
  background-color: #000;
}

.footer-card {
  max-width: 1200px;
  padding-block: 40px;
  margin-inline: auto;
  color: rgb(255 111 0);
}

.sec-o {
  background-color: rgb(0 0 0);
}

.others {
  max-width: 62.5rem;
  padding-block: 60px;
  margin-inline: auto;

  & > img {
    max-width: 600px;
  }
}

.line {
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(255 255 255);
}

.b-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.b {
  font-size: 48px;
  color: #fff;

  &:hover {
    color: rgb(255 111 0);
    cursor: pointer;
    transition: ease 0.3s;
    transform: scale(105%);
  }
}

.rr {
  padding: 7px;
  margin: 0;
  font-size: 40px;
  font-weight: 900;
  line-height: 100%;
  color: #000;
  background-color: rgb(255 255 255);
  border-radius: 200px;

  &:hover {
    cursor: pointer;
    background-color: rgb(255 111 0);
    transition: 0.3s;
  }
}

.text-box {
  padding-bottom: 60px;
}

.text {
  line-height: 140%;
  animation-name: reveal;

  // animation-duration: 1000ms;
  animation-timeline: view();
}

@keyframes reveal {
  15% {
    color: rgb(255 111 0);
    opacity: 0.3;
  }

  50% {
    color: rgb(255 255 255);
    opacity: 0.7;
  }

  85% {
    color: rgb(255 255 255);
    opacity: 0.9;
  }

  100% {
    color: rgb(0 140 255);
    opacity: 0.5;
  }
}

// @keyframes hr-op {
//   0% {
//     opacity: 1;
//   }

//   5% {
//     opacity: 0;
//   }
// }
